@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

html {
  font-family: 'Inter', sans-serif;
}

.text-right{
  text-align: right;
}
