@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

html {
  font-family: "Inter", sans-serif;
  // font-optical-sizing: auto;
  // font-weight: <weight>;
  // font-style: normal;
  // font-variation-settings:
  //   "slnt" 0;
}

main {
  max-width: 1280px;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;
  // border: solid 1px black;
  width: 100%;
  gap: 3rem;
}

.game-item {
  border-radius: 10px;
  background-color: #fefefe;
  overflow: hidden;
  // -webkit-box-shadow: 5px 5px 23px 5px rgba(0, 0, 0, 0.1);
  // box-shadow: 5px 5px 23px 5px rgba(0, 0, 0, 0.1);
  border: solid 1px rgba($color: #000000, $alpha: 0.1);
  
  .content {
    padding: 0.5rem 1.2rem 1rem 1.2rem;

    .row{
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;

      .left-column{
        min-width: 70px;
      }
      .right-column{
        text-align: right;
      }
    }

    .last{
      border-bottom: unset !important;
    }
  }

  header{
	  padding: 0.5rem 1.2rem 1rem 1.2rem;
  }

  .content {
	  margin-top: 0;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bolder !important;
  }

  .author {
	  margin-bottom: 2rem;
  }

  .created-date {
	  float: right;
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: solid 1px rgba($color: #000000, $alpha: 0.1);
  }

  .tags-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

    .title {
      margin-right: 1rem;
    }


  }

  .tag {
    margin: 0.3rem 0;
    padding: 0.05rem 0.7rem;
    margin-right: 0.5rem;
    border-radius: 35px;
    background-color: rgb(155, 155, 155);
    color: white;
    font-weight: bold;
  }
}
/* .game-item > *{
  max-width: 100%;
} */

.game-item img {
  width: 100%;
}

.types {
  margin-left: 10px;
}

/* 
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
	background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
	display: flex;
	place-items: center;
  }

  #app {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 2rem;
  }
} */
