@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

html {
  font-family: "Inter", sans-serif;
}

main {
  max-width: 1280px;
  margin: auto;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;
  width: 100%;
  gap: 3rem;
}

/* .game-item > *{
  max-width: 100%;
} */


.text-right{
	text-align: right;
}

@media (max-width: 800px) {
	main{
		grid-template-columns: 1fr;
		gap: 1rem;
		padding: 1rem;
		margin-top: 0;
	}
}